body{
    background-image:url("/Recursos_Imagenes/iceberg.jpg");
}

header{
    font-size: 50px;
    text-align: center;
}

nav{
    text-align: center;
}

div h1{
    text-align: center;
    margin: 2%;
}

nav ul li{
    margin: 1px center;
    padding: 10px 100px;
    border: 3px solid rgb(60, 128, 155);
    border-radius: 10px;
    display: inline-block;
    min-inline-size: 10%;
    font-family: monospace,Arial,Courier;
}

.hipColor{
    color: beige;
}

.imgintro{
    text-align: center;
}

.texto1{
    background-color: rgba(0, 93, 109, 0.685);
    text-align: justify;
    width: 70%;
    height: auto;
    margin: 13%;
    padding: 1px 40px;
    border-radius: 10px;
}
